<link rel="stylesheet" href="/css/styles.css">

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card bg-secondary shadow-lg border-info border-2">
      <div class="card-body p-4">

        <h2 class="mb-3 text-info text-center">
          🎯 Mid-Day 40x
        </h2>

        <% if (!draw) { %>
          <p class="text-center text-light">
            No active draw right now.
          </p>
        <% } else { %>

        <p class="text-light small text-center">Draw Code: <%= draw.draw_code %></p>  

        <p class="text-light small text-center">
          Next draw at:
          <strong>
            <%= new Date(draw.draw_time).toLocaleString('en-GB', {
              day: '2-digit',
              month: 'short',
              year: 'numeric',
              hour: '2-digit',
              minute: '2-digit',
              hour12: true
            }).replace(',', ' at') %>
          </strong>
        </p>

        <form action="/play/numberGame2" method="POST">

          <input type="hidden" name="draw_id" value="<%= draw.id %>">

          <!-- Choose Number -->
<div class="mb-3">

  <input type="hidden" name="chosen_number" id="chosenNumber" required>

  <div class="number-grid">
    <% for (let i = 1; i <= 50; i++) { %>
      <button
        type="button"
        class="number-btn"
        data-number="<%= i %>">
        <%= i %>
      </button>
    <% } %>
  </div>

  <small class="text-warning d-none" id="numberError">
    Please select a number
  </small>
</div>

          <!-- Amount -->
          <div class="mb-3">
            <label class="form-label">Amount (AED 2–200)</label>
            <input type="number" min="2" max="200"
              step="1"
              name="amount"
              id="midDayAmount"
              class="form-control" required>
          </div>

          <!-- Prize -->
            <p class="text-light small">
              Prize Amount:
              <strong>₹<span id="midDayPrizeAmount">0</span></strong>
            </p>

          <button class="btn btn-info w-100">
            Place Bet
          </button>

        </form>

        <% } %>
      </div>
    </div>
  </div>
</div>


<script src="/js/main.js"></script>
